<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

<header>
  <h1>
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/img/logo-1.jpg' | relative_url }}" alt="{{ site.title }}" class="logo">
    </a>
  </h1>

  <!-- Hamburger toggle for mobile -->
  <button id="nav-toggle" aria-label="Toggle navigation">☰</button>

  <nav id="main-nav">
    <ul class="main-nav">
      <li><a href="{{ '/choirs/' | relative_url }}">Choirs</a></li>

      <li class="has-submenu">
        <span class="submenu-toggle">Events ▼</span>
        <ul class="submenu">
          <li><a href="{{ '/events/' | relative_url }}">Event list</a></li>
          <li><a href="{{ '/agenda/' | relative_url }}">Agenda</a></li>
        </ul>
      </li>

      <li><a href="{{ '/venues/' | relative_url }}">Venues</a></li>
      <!-- <li><a href="{{ '/people/' | relative_url }}">People</a></li> -->
    </ul>
  </nav>
</header>


<main>
  {{ content }}
</main>

<footer>
  <p>© {{ site.time | date: "%Y" }}</p>
</footer>

  <script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
  
</body>
</html>
